*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 25px;
    
   
}
.top a{
    color:black;

}
.img h1{
    color:blue;
}
.img span{
    color: black;
}
.top a{
    text-decoration: none;
    padding: 40px;
    font-size: 20px;
    margin: 15px;
}
.top a:last-of-type{
    background-color: blue;
    padding: 10px;
    margin: 27px;
    color: white;
    border-radius: 10px;
}
.page-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px
}
.img2{
   padding:10px;
}

.heading1 h1{
    font-size: 50px;
}
.heading1 p{
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.heading1 a{
    text-decoration: none;
    border: 2px solid;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    line-height: 20px;
}

.heading2{
    margin: 50px;
}
.heading2 h2{
    align-items: center;
    margin: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.icon{
    display: flex;
}
.icon a{
    padding: 50PX;
    display: flex;
    justify-content: center;
    
}
.icon img{
     width: 70%;
    height: 70px; 
    /* height: auto; */
  
}   
.team{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.heading3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 125px;
    font-size: 35px;
    text-align: center;
    
}
.team-work{
    border: 2px solid ;
    width: 30%;
    margin: 1rem;
    padding:30px;
    text-align:center ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;

}

.team-work img{
    height: 100px;
    height: 100px;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.team-work h3{
    padding: 10px;

}
.team-work span{
    padding: 10px;
}
.team-work p{
    padding: 10px;
}

.earth{
    background-image:url("images/our-commitment-bg-1.jpeg");
    width: 100%;
    /* height: 130vh; */
    /* position: absolute; */
}
.page4{
    position: relative;
    /* top: 30px; */
    padding: 60px 20px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* height: 100vh; */
    font-size: 30px;
} 
.fast{
    border: 2px solid;
    width: 270px;
    /* height: 300px; */
    border-radius: 25px;
    padding: 25px;
    margin-left: 310px;
    margin-top: 35px;
    background: rgba(0,0,0,.62);

}
.fast .img3 img{
    height: 70px;
}
.fast h1{
    color: white;
    padding: 10px;
}
.fast p{
    color: white;
    padding: 10px;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-right: 200px; */
}
.page5{
    background-color: #f1f1f1;
}
.heading4{
    padding: 70px;
}
.heading4 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    color: #2b2a2f;
    margin-bottom: 50px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.images{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 60px;
}
.images p{
    font-style: normal;
}
.img4 img{
    height: 70px;
    width: 80px;
}